@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Segue: <a href="https://www.linkedin.com/in/jos%C3%A9-gilmar-raymundo-junior-94ab42255/">Perfil do candidato no linkedin</a>.</p>
    <img src="https://camposdealer.com.br/wp-content/uploads/2023/01/campos_dealer_logo_horz.svg" alt="LogoHTML" style="max-width:100%;height:auto;">
</div>
